@page
@model WebApplication3_13062023_cocktails.Pages.ListModel
@{
    ViewData["Title"] = "List";
    @using WebApplication3_13062023_cocktails.Models;
    List<Cocktail> cl = new List<Cocktail>();
    for(int i=0;i<20;i++)
    {
        cl.Add(new Cocktail { Name = $"cocktail{i}", 
                              Description = $"Description{i}", 
                              Price = i });
    }
}




            <table class="table" style="margin-bottom: 10vh; text-align: center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var a in cl)
                       {
                            <tr>
                                <td>@a.Name</td>
                                <td>@a.Description</td>
                                <td>@a.Price</td>
                            </tr>
                       }
                </tbody>
            </table>
    